---
---

@import "minima/skins/{{ site.minima.skin | default: 'solarized' }}";
@import "minima/initialize";

html {
  font-size: 62.5%;
  font-family: serif;
  background-color: #eee8d5;
  background-color: #fdf6e3;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 45em;
  margin: auto;
  color: #657b83;
  color: #586e75;
  color: #073642;
  color: hsl(192, 81%, 14%);
  color: hsl(194, 14%, 30%);
  background-color: #;
  padding: 10px;
}
